#WORKSPACE is the root working directory of the application. Jenkins sets this to itself.
#export WORKSPACE="."

#KEYCHAIN If you are going to use a custom keychain for your app build.
#export KEYCHAIN=True
#export KEYCHAIN_PATH="/somepath/to/login.keychain"
#export KEYCHAIN_PASSWORD=""

#RETRIEVE_PROFILES If you want to retrieve the newest provisioning profiles from the Apple Developer portal.
#export RETRIEVE_PROFILE=True
#export APPLE_DEVELOPER_USERNAME="apple_id@here.com"
#export APPLE_DEVELOPER_PASSWORD="apple_id_password"
#export APPLE_DEVELOPER_TEAM="DEVELOPER_TEAM_ID"
#export PROVISIONING_PROFILE_NAME="iOSTeam Provisioning Profile: com.some.app"

#COCOAPODS If you want to use cocoapods.
#export COCOAPODS=True

#INCREASE_BUILD_NUMBER If you want to manually increase the app build number.
#export INCREASE_BUILD_NUMBER=True

#CODE_SIGNING_IDENTITY to sign the application and archive with.
#export CODE_SIGNING_IDENTITY="iPhone Distribution: Some Org (DA123456)"

#PROFILE_UUID if not retrieving the profile from Apple developer site. And using one that is already included
#export PROFILE_UUID="360b961d-e972-492d-8743-83fd70fba42c"

#xcodebuild required parameters
export XCWORKSPACE="SomeApp.xcworkspace"
export XCSCHEME="SomeApp"
export BUILD_CONFIGURATION="Release"

#TEST If we want to run tests after the build.
#export TEST=True

#EXPORT_IPA If we want to export an IPA file from the build
#export EXPORT_IPA=True

#TEST_FLIGHT If we want to submit a build to testflightapp.com
#export TEST_FLIGHT=True
#export TEST_FLIGHT_TEAM_TOKEN="token"
#export TEST_FLIGHT_API_TOKEN="token"
#export TEST_FLIGHT_SHOULD_NOTIFY=False
#export TEST_FLIGHT_DISTRIBUTION_LISTS="list,list2"